.wrapper {
  width: 100%;
  height: 12vh;
  display: flex;
  top: 0;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #f7f8f9;
  color: #17356c;
  z-index: 9999;

  .ortopedickaAmbulancia,
  li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6vw;
    letter-spacing: 1px;
    word-spacing: -1px;
    font-weight: 500;
    font-variant: small-caps;
    margin-top: 11px;
  }

  .left {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logoWrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .logo {
        height: 60%;
        aspect-ratio: 1/1;
        margin: 0px 10px;
      }
    }
  }

  .navbar {
    width: 48%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;

    .navbarItems {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: right;

      .navbarItem {
        text-decoration: none;
        list-style: none;
        margin-left: 40px;

        .navbarItemLink {
          text-decoration: none;
          color: #17356c;
        }
      }
    }

    .menuIcon {
      height: 35%;
      aspect-ratio: 1/1;
      margin-top: 5px;
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper {
    .ortopedickaAmbulancia,
    li {
      font-size: 18px;
    }
  }
}

@media (max-width: 793px) {
  .wrapper {
    .ortopedickaAmbulancia,
    li {
      font-size: 15px;
    }
    .left {
      width: 100%;

      .logoWrapper {
        .logo {
            height: 50%;
        }
      }
    }
    .navbar {
        width: fit-content;
      .navbarItems {
        position: absolute;
        top: 100%;
        right: -100%;
        width: fit-content;
        height: fit-content;
        background-color: #f7f8f9;
        color: #17356c;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 35px 35px;
        transition: all 0.55s ease;

        .navbarItem {
          margin-left: 0px;
        }
      }
      .navbarItems.open {
        right: 0;
      }
      .menuIcon {
        display: block;
        margin-right: 15px;
        cursor: pointer;
      }
    }
  }
}
